.hide {
    display: none !important;
}

@media screen and (max-width:576px) {
   header {
    padding-top: 30px;
    padding-bottom: 20px;
   }

   nav .menu{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
   }
    #about {
    padding-top: 60px;
}
    #skill , #resume{
        padding-top: 100px;
    }
    .resume-container .resume-info{
        margin-top:  70px;
    }

    #about .about-container {
    width: 95%;
    padding: 0;
}
    #skill .skill-container, .skill-card-div .skill-card , .resume-container .resume-info, footer #footer-container, header nav {
        width: 95%;
        max-width: 95%;

    }

    #resume .resume-container{
        width: 95%;
    }

    .form form input[type="text"], .form form input[type="email"], .form form textarea {
    width: 95%;
}

    #about .about-container .about-info{
        gap: 30px;
    }


    #about .about-container .about-info , #skill .skill-container .skill-card-div , .resume-container .resume-info , footer #footer-container ,header nav {
        flex-direction: column;
    }

}