.hide {
    display: none !important;
}

@media screen and (max-width:576px) {
    
   header {
    padding-top: 30px;
    padding-bottom: 20px;
    background: url(../images/header_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

   nav .menu{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
   }

   #hero-container {
    margin: 20px 20px;
    
}

    #hero-container .hero-content {
        text-align: center;
    }

    #hero-container .hero-content h1 {
        font-size: 55px;
    }
    #hero-container .hero-content h2 {
        font-size: 35px;
    }

    .hero-contact-btn {
        margin: 20px 0 0;
    }

    #hero-container .hero-image img {
        width: 100%;
        height: auto;
        margin-bottom: -40px;
        
    }

    #about {
    padding-top: 60px;
}
    #skill , #resume{
        padding-top: 100px;
    }
    .resume-container .resume-info{
        margin-top:  70px;
    }

    #about .about-container {
    width: 95%;
    padding: 0;
}
    #skill .skill-container, .skill-card-div .skill-card , .resume-container .resume-info, footer #footer-container, header nav {
        width: 95%;
        max-width: 95%;

    }

    #resume .resume-container{
        width: 95%;
    }

    .form form input[type="text"], .form form input[type="email"], .form form textarea {
    width: 95%;
}

    #about .about-container .about-info{
        gap: 30px;
    }


    #about .about-container .about-info , #skill .skill-container .skill-card-div , .resume-container .resume-info , footer #footer-container ,header nav , #hero-container {
        flex-direction: column;
    }

}