*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-orange{
  color: #FD6E0A;
  
}

.btn {
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.heading {
  max-width: 827px ;
  text-align: center;
  margin: 0 auto;
}

.heading h2 {
  font-size: 35px ;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
.heading p {
  font-size: 18px ;
  color: #757575;
  line-height: 30px;
}

.text-center {
  text-align: center;
}

/* Main Style */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png") , url("../images/header_bg.png");
    background-position: left center , bottom right;
    background-repeat: no-repeat;
    
}
header nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 45px;
  font-weight: 900;
}

nav .logo h2 {
  color: #181818;
  font-feature-settings: "liga"0;
}


nav .menu {
  display: flex;
  gap: 51px;
  align-items: center;
}

nav .menu li {
  list-style: none;
  
  
}

nav .menu a {
  color: #474747;
  font-size: 20px;
  text-decoration: none;
}

#hero-container {
  max-width: 1332px;
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-container .hero-content{
  max-width: 585px;
}

#hero-container .hero-content h2 {
  font-size: 45px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 5px;
  
}

#hero-container .hero-content h1 {
  font-size: 85px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

#hero-container .hero-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#hero-container .hero-image img {
  max-width: 584px;
  vertical-align: middle;

}

#about {
  
  padding-top: 130px;
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  padding: 131px 157px;
  margin: 0 auto;
  background-color: #FFF8F3;
  text-align: center;
}



#about .about-container .about-info {
  max-width: 782px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

#about .about-container .about-info .info-card p  {
  font-size: 20px ;
  line-height: 30px;
  color: #757575;
}
#about .about-container .about-info .info-card h4  {
  font-size: 20px ;
  line-height: 30px;
  color: #474747;
  font-weight: bold;
}

#skill {
  padding-top: 130px;
}

#skill .skill-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

#skill .skill-container .skill-card-div {
  display: flex;
  margin-top: 50px;
   gap: 24px;

}

.skill-card-div .skill-card {
  max-width: 267px ;
  padding: 30px ;
  /* border: 1px solid red; */
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 
}

.skill-card-div .skill-card img {
  max-width: 44px;
  margin-bottom: 30px;

}
.skill-card-div .skill-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.skill-card-div .skill-card p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}

#resume {
  padding-top: 130px;
}

#resume .resume-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.resume-container .resume-info {
  display: flex;
  gap: 24px;
  text-align: left;
  margin: 113px auto 0px;
}

.resume-info .info-type {
  font-size: 30px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 30px ;
}

.resume-card {
  max-width: 511px;
  margin-right: 47px;
}

.resume-card .resume-title {
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}

.resume-card .resume-subtitle {
  color: #757575;
  font-size: 20px;
  margin-bottom: 20px;
}

.resume-card .resume-text {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}

.resume-container hr {
  margin: 30px 0px;
}

footer {
  background-color: #FFF8F3;
  margin-top: 113px;
  padding-top: 130px;
}

footer #footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto 130px;
  display: flex;
  gap: 117px;
}

footer #footer-container .social {
  max-width: 562px;
}

footer #footer-container h2 {
  font-size: 35px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

footer #footer-container .social p {
  font-size: 16px;
  color: #181818;
  line-height: 28px;
  margin-bottom: 30px;
}

#footer-container .social .icons img {
  max-width: 24px;
  margin-right: 24px;
}

.form form input[type="text"] , .form form input[type="email"] , .form form textarea {
  width: 461px;
  padding: 18px 0px 18px 30px;
  margin-bottom: 24px;
  border: none;
  font-size: 16px ;
  line-height: 28px;
  color: #757575;
}


