*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-orange{
  color: #FD6E0A;
  
}

.btn {
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Main Style */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png") , url("../images/header_bg.png");
    background-position: left center , bottom right;
    background-repeat: no-repeat;
    
}
header nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 45px;
  font-weight: 900;
}

nav .logo h2 {
  color: #181818;
  font-feature-settings: "liga"0;
}


nav .menu {
  display: flex;
  gap: 51px;
  align-items: center;
}

nav .menu li {
  list-style: none;
  
  
}

nav .menu a {
  color: #474747;
  font-size: 20px;
  text-decoration: none;
}

#hero-container {
  max-width: 1332px;
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-container .hero-content{
  max-width: 585px;
}

#hero-container .hero-content h2 {
  font-size: 45px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 5px;
  
}

#hero-container .hero-content h1 {
  font-size: 85px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 20px;
}

#hero-container .hero-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#hero-container .hero-image img {
  max-width: 584px;
  vertical-align: middle;

}